@import "../../variables.scss";

.post {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $accent;
  padding: 32px 16px;
  gap: 16px;

  &:nth-child(1) {
    border-top: none;
  }

  &:last-child {
    padding-bottom: 84px;
  }

  > .post-categories {
    display: flex;
    gap: 12px;
    flex-direction: row;
  }

  > .date {
    color: $primary;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }

  > p {
    color: $secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
